* {
	margin: 0;
	padding: 0;
}
.wrapper {
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    position: relative;
    height: 100px;
    width: 150px;
    perspective: 1000px;
}
.front, .back {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	backface-visibility: hidden;
}
.front {
	background: linear-gradient(45deg, yellow, red);
}
.back {
	background: linear-gradient(45deg, blue, green);
	transform: rotateY(180deg);
}
.card:hover .front {transform: rotateY(180deg);}
.card:hover .back {transform: rotateY(360deg);}
span {
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Concert One', cursive;
}