* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #04111a;
	font-family: sans-serif;
}
form {
	margin: 0 auto;
	width: 600px;
	height: 400px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 1px #9fe0e2, 0 0 2px #9fe0e2, 0 0 6px #9fe0e2, 0 0 12px #9fe0e2, inset 0 0 1px #9fe0e2, inset 0 0 2px #9fe0e2, inset 0 0 6px #9fe0e2, inset 0 0 12px #9fe0e2;
}
.username, .password {
  width: 450px;
  height: 70px; 
  background-color: #04111a;
  border-radius: 10px;
  margin-bottom: 10px;
  text-indent: 30px;
  box-shadow: 0 0 1px #ba72b1, 0 0 2px #ba72b1, 0 0 6px #ba72b1, 0 0 12px #ba72b1, inset 0 0 1px #ba72b1, inset 0 0 2px #ba72b1, inset 0 0 6px #ba72b1, inset 0 0 12px #ba72b1;
}
.button {
  margin-top: 20px;
  width: 450px;
  height: 70px; 
  background-color: #04111a;
  border-radius: 10px;
  font-size: 20px;
  color: #f6348a;;
  box-shadow: 0 0 1px #f6348a, 0 0 2px #f6348a, 0 0 6px #f6348a, 0 0 12px #f6348a, inset 0 0 1px #f6348a, inset 0 0 2px #f6348a, inset 0 0 6px #f6348a, inset 0 0 12px #f6348a;
  text-shadow: 0 0 15px #f6348a;
}
 input[type="text"]::-webkit-input-placeholder {
    color: #ba72b1;
    text-shadow: 0 0 8px  #ba72b1;
    font-size: 20px;
    font-family: sans-serif;
}
   input[type="password"]::-webkit-input-placeholder {
    color: #ba72b1;
    text-shadow: 0 0 8px #ba72b1;
    font-size: 20px;
    font-family: sans-serif;
}
.button:focus {
	box-shadow: 0 0 12px #f6348a, 0 0 2px #f6348a, 0 0 2px #f6348a, 0 0 1px #f6348a, inset 0 0 12px #f6348a, inset 0 0 6px #f6348a, inset 0 0 2px #f6348a, inset 0 0 1px #f6348a;
    transition-duration: 0.5s;
}
.button:hover {
	box-shadow: 0 0 12px #f6348a, 0 0 2px #f6348a, 0 0 2px #f6348a, 0 0 1px #f6348a, inset 0 0 12px #f6348a, inset 0 0 6px #f6348a, inset 0 0 2px #f6348a, inset 0 0 1px #f6348a;
    transition-duration: 0.5s;
}
form:hover {
	box-shadow: 0 0 12px #9fe0e2, 0 0 6px #9fe0e2, 0 0 2px #9fe0e2, 0 0 1px #9fe0e2, inset 0 0 12px #9fe0e2, inset 0 0 6px #9fe0e2, inset 0 0 2px #9fe0e2, inset 0 0 1px #9fe0e2;
    transition-duration: 0.5s;
}
.password:focus {
	box-shadow: 0 0 12px #ba72b1, 0 0 2px #ba72b1, 0 0 2px #ba72b1, 0 0 1px #ba72b1, inset 0 0 12px #ba72b1, inset 0 0 6px #ba72b1, inset 0 0 2px #ba72b1, inset 0 0 1px #ba72b1;
    transition-duration: 0.5s;
}
.password:hover {
	box-shadow: 0 0 12px #ba72b1, 0 0 2px #ba72b1, 0 0 2px #ba72b1, 0 0 1px #ba72b1, inset 0 0 12px #ba72b1, inset 0 0 6px #ba72b1, inset 0 0 2px #ba72b1, inset 0 0 1px #ba72b1;
    transition-duration: 0.5s;
}
.username:focus {
	box-shadow: 0 0 12px #ba72b1, 0 0 2px #ba72b1, 0 0 2px #ba72b1, 0 0 1px #ba72b1, inset 0 0 12px #ba72b1, inset 0 0 6px #ba72b1, inset 0 0 2px #ba72b1, inset 0 0 1px #ba72b1;
    transition-duration: 0.5s;
}
.username:hover {
	box-shadow: 0 0 12px #ba72b1, 0 0 2px #ba72b1, 0 0 2px #ba72b1, 0 0 1px #ba72b1, inset 0 0 12px #ba72b1, inset 0 0 6px #ba72b1, inset 0 0 2px #ba72b1, inset 0 0 1px #ba72b1;
    transition-duration: 0.5s;
}
/* как заставить placeholder "подлетать" представления не имею)
Ольга надеюсь на Вашу помощь)*/