* {
	margin: 0;
	padding: 0;
}
table {
	color: white;
	text-transform: capitalize;
	border-collapse: collapse;
	text-align: left;
	text-indent: 15px;
	background: linear-gradient(45deg, #7398a9, #7a71a2);
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}
th {
    background-color: #56608f;
    height: 50px;
    width: 200px;
    position: relative;
    z-index: 1;
}
td {
    height: 50px;
    width: 200px;
    position: relative;
}
tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
td:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
  height: 500px;
  width: 100%;
  left: 0;
  top: -250px;
  position: absolute;
  content: "";
  cursor: pointer;
}