*{
	margin: 0;
	padding: 0;
}

.header-wrapper {
	display: flex;
}
.box1{
	height: 200px;
	width: 600px;
	border: 5px solid;
	border-color: #ff0000;
	margin: 10px;
}
.box2 {
	height: 200px;
	width: 100px;
	border: 5px solid;
	border-color: #ff0000;
	margin: 10px;
}
.content-wrapper {
	display: flex;
}
.box3 {
	height: 200px;
	width: 600px;
	border: 5px solid;
	border-color: #ff0000;
	margin: 10px;
}
.content-wrapper-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.box4, .box5 {
	border: 5px solid;
	border-color: #ff0000;
	width: 100px;
	height: 80px;
	margin: 10px;
}
.footer-wrapper{
	display: flex;
	justify-content: flex-start;
}
.box6, .box7 {
	height: 50px;
	width: 285px;
	border: 5px solid;
	border-color: #ff0000;
	margin: 10px;
}