* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
}
header {
	background-color: #87509c;
	height: 600px;
}
nav {
	padding-top: 70px;
	display: flex;
	justify-content: space-around;
}
nav ul {
	display: flex;
	justify-content: space-around;
}
nav ul li {
	text-transform: uppercase;
	list-style-type: none;
    padding-left: 10px; 
}
nav ul li a {
	text-decoration: none;
	color: white;
	padding: 10px 10px 10px 10px;
	font-size: 17px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}
nav ul li a:hover {
	background-color: #643a79;
}
h1 {
	color: white;
	white-space: normal;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
    margin-top: 150px;
    font-weight: bold;
    }
header button {
	height: 70px;
	width: 300px;
	background-color: #eb7d4b;
	color: white;
	border-color:  #eb7d4b;
	border-radius: 10px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 38%; /*bag*/
}
.services article {
   height: 750px;
   text-align: center;
   background-color: #17c2a4;
   color: white;
   white-space: normal;
   font-family: 'Titillium Web', sans-serif;
}
.services h2 {
	font-size: 27px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 120px;
	padding-bottom: 22px;
}
.services .line {
	background-color: #14a58c;
	height: 5px;
	width: 90px;
	margin: 0 auto;
}
.services p {
	font-size: 17px;
	padding-top: 24px;
}
.services .wrapper	{
	padding-top: 85px;
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.services .wrapper p{
	font-size: 14px;
	padding-top: 20px;
}
.services .wrapper h3 {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 50px;
}